<h2>This is the test checkbox page</h2>
{% schema %}
  {
    "name": "checkbox",
    "settings": [
        {
          "type": "checkbox",
          "id": "show_announcement",
          "label": "Show announcement",
          "default": true
        }
    ]
  }
{% endschema %}
