<h2> this is the11 {{page.title}} page</h2>
{% comment %} name is the section name as it will appear in the customizer {% endcomment %}
{% schema %}
  {
    "name": "Slideshow",
    "settings": [
        {
          "id":"tax",
          "type":"text",
          "label":"tex notice"
        }
    ]
  }
{% endschema %}
